nox
doit
flit
jupyterlab==3.1.0rc1
jupyterlab-link-share
jupyter-videochat


altair
vega_datasets
bokeh
bqplot
evidently
ipyleaflet
ipysheet
ipywebrtc
ipywidgets
ipyvolume
itkwidgets
lux-api
mpld3
pythreejs
wxyz_core
wxyz_datagrid
wxyz_html
wxyz_dvcs
wxyz_json_e
wxyz_json_schema_form
wxyz_jsonld
wxyz_lab
wxyz_svg
wxyz_tpl_jinja
wxyz_yaml
tqdm
jupyterlab-geojson
