prefect
git+https://github.com/deathbeds/pidgy@new-parser
graphviz

# hourhaus bau
nox
doit
flit

# jupyter applications
jupyterlab==3.1.0rc2
nteract-on-jupyter
retrolab
papermill

# binder gear
jupyterlab-link-share
jupyter-videochat
nbgitpuller
jupyter-server-proxy

# mime
jupyterlab-geojson
altair
vega_datasets

# panel, et al
bokeh
dask-labextension
dask-ml
datashader
hvplot
panel
holoviews

# testing
pytest
pytest-sugar
pytest-cov
hypothesis
hypothesis-jsonschema
nbval
coverage

# json
jsonschema
jsonpatch
jsondiff
pyld
json-e

# widgets
bqplot
ipylab
ipyleaflet
ipysheet
ipyvolume
ipywebrtc
ipywidgets
itkwidgets
lux-api
mpld3
pythreejs
tqdm
ipyelk
nbdime

# markup
markdown-it-py[plugins]
toml
tomlkit
configupdater
emoji
pathspec
parse
maya


# rfc
strict_rfc3339

# serve
fastapi
flask
datasette

# tui
typer
rich
visidata
plotille

# other
evidently

# lsp
json-lsp
jupyterlab-lsp
pyls-isort
pyls-memestra
pylsp-mypy
python-lsp-black

# deathbeds
wxyz_notebooks
ipydrawio
jupyter-starters

# data
sqlite-utils
python-dotenv
appdirs

# tensor trash
stable-baselines3[extras]
gym
