nox
doit
flit
jupyterlab==3.1.0rc2
jupyterlab-link-share
jupyter-videochat
jupyterlab-geojson

dask-labextension
bokeh
hvplot

altair
vega_datasets

# widgets
bqplot
ipyleaflet
ipysheet
ipywebrtc
ipywidgets
ipyvolume
itkwidgets
lux-api
mpld3
pythreejs
tqdm

# other
evidently

# deathbeds
wxyz_notebooks
ipydrawio
jupyter-starters